.andola_content_wrap{    border: 1px solid #f1f1f1;
    background: #fff;
    padding: 20px;
        max-width: 920px;
    margin: 30px auto 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.andola_content_wrap #andola_image_button, .andola_content_wrap #andola_image_button_bck, .andola_content_wrap #andola_dash_image_button{background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;}

    .andola_content_wrap h2 {
    color: #23282d;
    font-size: 22px;
    margin: 15px 0;
}

.andola_content_wrap h1 {
    color: #23282d;
    font-size: 26px;
    margin: 10px 0 30px 0;
}
.andola_content_wrap .form-table th { width: 300px; }

.tabs-nav .tab-active a.andola_tab {
    background: #fff;
    cursor: default;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.tabs-nav a.andola_tab {
     background: #fff;
    border: 1px solid hsl(210, 6%, 79%);
    display: block;
    font-size: 14px;
    float: left;
    margin-right: 20px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    /* text-transform: uppercase; */
    width: 150px;
}
.tabs-nav a.andola_tab:hover{box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);}

.form-table .table_andola_head_sec{    font-size: 20px;
    font-weight: 600;
}
.andola_content_wrap .admin_main_header_txt{    color: #0073aa; font-size: 26px;
    margin: 10px 0 30px 0;     font-weight: 600;}
    .andola_logo img{   height: 35px;
    width: 144px;
        margin-left: 250px;}

        .tabs-stage .form-table tr th:first{    width: 600px !important;}
        #wpbody-content .andola_content_wrap .andola_logo a:focus{box-shadow: none;
    outline: none;}